@charset "UTF-08";

@font-face {
    font-family: 'Bebas';
    src: url(fontes/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: 'Android';
    src: url(fontes/idroid.otf);
}

/*
Cores do Guanabara
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063dle
*/

:root {
    --cor1: #c5ebd6;
    --cor2: #83e1ad;
    --cor3: #3ddc84;
    --cor4: #2fa866;
    --cor5: #1a5c37;
    --cor6: #063d1e;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor1);
}

header {
    min-height: 150px;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    color: white;
    text-align: center;
}

header h1{
    font-family: "Bebas", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 20px;
    font-size: 2.5em;
    text-align: center;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.459);
}

header p{
    display: block;
    max-width: 400px;
    margin: auto;
    padding: 0px 0px 30px 0px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.459);
}

nav {
    background-color: var(--cor5);
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    transition-duration: .3s;
}

nav a:hover {
    background-color: var(--cor3);
}

article h1, h2 {
    font-family: 'Android', cursive;
    color: var(--cor6);
}

main {
    max-width: 700px;
    background-color: white;
    margin: auto;
    padding: 0px 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.315);
    text-align: justify;
    border-radius: 0px 0px 10px 10px;
    
}

main h1 {
    padding: 15px 0px 5px 0px;
    font-size: 1.8em;
    text-align: left;
}

main h2 {
    /*padding: 10px 0px;*/
    font-size: 1.4em;
    background-image: linear-gradient(to right, var(--cor1), white);
}

main p {
    text-indent: 20px;
    padding: 10px 0px;
    font-size: 1em;
    line-height: 1.5em;
}

main strong {
    color: var(--cor6);
}

main a {
    text-decoration: none;
    color: var(--cor6);
    font-weight: bold;
}

main a::after{
    content: '\1F517';
}

.imagem{
    max-width: 700px;
    text-align: center;
}

#bugdroid {
    margin: auto;
    display: block;
}

aside {
    background-color: var(--cor2);
    padding: 5px;
    border-radius: 10px;
}

aside h3 {
    background-color: var(--cor5);
    padding: 5px;
    margin: -5px -5px 0px -5px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-type: '\2714\00A0';
    list-style-position: inside;
    columns: 2;

}

footer {
    background-color: var(--cor5);
    margin: 10px 0px 0px 0px;
    color: white;
    text-align: center;
    padding: 5px;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}